{{ $username := promptStringOnce . "username" "Git username" -}}
{{ $email := promptStringOnce . "email" "Git email address" -}}

data:
    username: {{ $username | quote }}
    email: {{ $email | quote }}
    sdkman: false
